:root {
    --color-naranja: #f67620;
    --color-violeta: #7a53a5;
    --color-success: #39b525;
    --color-info: #22aeca;
    --color-danger: #db3737;
    --color-light: #e5e5e5;
    --color-muted: #888888;
    --color-dark: #555555;
    --color-black: #0e0d0d;
}

body {
    font-family: "Roboto", "Nunito", sans-serif;
}

//font-weight: normal;
//font-weight: bold;

@import "bootstrap/scss/bootstrap";

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg,
.navbar > .container-xl,
.navbar > .container-xxl {
    border-bottom: .1px solid var(--color-muted);
}

.logo {
    height: 67px;
    width: 67px;
}

.textoHeader {
    font-size: 30;
    font-weight: bolder;
    color: var(--color-muted);
}

.textUser {
    font-size: 20;
    font-weight:normal;
    color: var(--color-muted);
}
.btn-secundary {
    background-color: var(--color-muted);
    color: var(--color-light);
}
.btn-secundary:hover {
    background-color: var(--color-muted);
    color: var(--color-light);
    opacity: 50%;
}
.btn-salir {
    width: 173.52px;
    height: 40px;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    color: var(--color-muted);
    opacity: 50%;
}